@model IEnumerable<string>

@{
    Layout = null; // Para que no busque un diseño base que aún no creamos
}

<!DOCTYPE html>
<html>
<head>
    <title>Reto 1 - Razor</title>
</head>
<body>
    @* Mostrando datos de los 3 métodos de transferencia *@
    <h1>@ViewData["TituloPagina"]</h1>
    <h3>@ViewBag.MensajeInformativo</h3>
    <p style="color: blue;">Estado: @TempData["EstadoConexion"]</p>

    <hr />

    @* Bloque Razor para mostrar la lista *@
    <h2>Lista de Tareas Pendientes</h2>

    @if (Model != null && Model.Any())
    {
        <ul>
            @foreach (var tarea in Model)
            {
                <li>@tarea</li>
            }
        </ul>
    }
    else
    {
        <p>No hay tareas en la lista actualmente.</p>
    }
</body>
</html>